/* Last updated: 2026-09-12 16:02:00 */

Last updated: 2026-09-12 15:58:40

/* Hides folders in navigation. */
.main-menu [data-tooltip*="Sent"],
.main-menu [data-tooltip*="All Mail"],
.main-menu span[role="button"] {
  display: none !important;
}

/* Hides Mailman labels on email. */
[title*="Mailman"],
[name*="Mailman"] {
  display: none !important;
}

/* Removes bold styling from unread labels other than Invest. */
.labels [data-tooltip]:not([data-tooltip*="Invest"]) a {
  font-weight: 400 !important;
}

/* Hides unread counts for labels other than Invest. */
.labels [data-tooltip]:not([data-tooltip*="Invest"]) span + div {
  display: none !important;
}
