/* Last updated: 2026-07-17 17:45:37 */

.popup-success-message {
  display: none;
}

.global_generic,
.global_styles,
.local_styles {
  display: none;
}

.w--redirected-checked~.checkbox_label {
  color: white;
}